{% extends 'base.html' %}

{% block title %}
    Details
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ projects.name }}</h1>
            <p>{{ project.description }}</p>
            <h2>Tasks</h2>
            <a href={% url "create_task" %}>Create a new task</a>
            {% if tasks %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.assignee.username }}</td>
                            <td>{{ task.start_date|date:"Y-m-d" }}</td>
                            <td>{{ task.due_date|date:"Y-m-d" }}</td>
                            <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>This project has no tasks.</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
